@import url(template/Navbar/navbar.css);
@import url(template/Contenido/start.css);



* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }